/* Write your code here. */
.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #3d3d3d;
  border-radius: 24px;
  width: 60%;
  padding: 32px;
  background-color: #ffffff33;
}

.inside-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  order: 0;
}

.image {
  background-size: cover;
  width: 80%;
}

.heading {
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 28px;
  font-weight: bold;
}

.scoreLabel {
  font-family: 'Roboto';
  color: #ffffff;
  margin: 0px;
  font-weight: bold;
  font-size: 25px;
}

.score {
  color: #6a59ff;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 23px;
  margin: 0px;
}

.button {
  background-color: #ffce27;
  color: #3d3d3d;
  border-radius: 15px;
  padding-left: 24px;
  padding-right: 24px;
  cursor: pointer;
  outline: none;
  font-family: 'Roboto';
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  font-weight: bold;
}

.image-section {
  display: flex;
  justify-content: center;
  order: 1;
}
